@media print {
  .AutoScroll,
  .x_audio,
  .x_video {
    display: none !important;
  }
}

.SongView .lyricline {
  line-height: 2.3;
}

.SongView .directives {
  margin-bottom: 1em;
}

.SongView .directive-title {
  font-size: 2em;
}

.SongView .title {
  font-size: 1.5em;
  font-weight: bold;
}

.SongView .artist {
  font-size: 1.1em;
}

.SongView .composer {
  font-size: 1.1em;
}

.SongView-section-verse,
.SongView-section-chorus {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  clear: both;
}

.SongView .tab {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: monospace;
}

.SongView-section-comment,
.SongView .comment {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.SongView .chord {
  background: none;
  top: -0.7em;
  position: relative;
}

.SongView.chord-position-above .chord {
  padding: 0;
}

.SongView.chord-position-above .chord > .visible {
  position: absolute;
  top: -1em;
}

.SongView.chord-position-above .chord > .invisible {
  visibility: hidden;
}

.SongView .lyriccomment {
  display: inline-block;
  padding: 4px 8px;
  padding-bottom: 0.2em;
  background: #ddd;
  line-height: 1;
}

.SongView.chord-position-above .space {
  display: inline-block;
  min-width: 0.5em;
}

.SongView.chord-position-above .lyricline,
.SongView.chord-position-above .lyriccomment {
  margin-bottom: 0.4em;
}

/** ChordDiagrams **/

.chorddiagrams {
  display: flex;
  margin: 30px 0 10px;
}

.chorddiagrams .chord {
  margin: 10px;
}

.chord-diagramsize-small .chord .name {
  text-align: center;
  font-size: 10px;
  margin-left: 5px;
  margin-bottom: 1px;
}

.chord-diagramsize-medium .chord .name {
  text-align: center;
  font-size: 13px;
  margin-left: 8px;
  margin-bottom: 1px;
}

.chord-diagramsize-large .chord .name {
  text-align: center;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.fret,
.note {
  box-sizing: border-box;
}

.finger {
  float: left;
  position: relative;
}

.chord-diagramsize-small .finger {
  width: 2px;
  height: 6px;
  margin-left: 4px;
  font-size: 9px;
  text-align: right;
}

.chord-diagramsize-medium .finger {
  width: 3px;
  height: 9px;
  margin-left: 6px;
  font-size: 10px;
  text-align: right;
}

.chord-diagramsize-large .finger {
  width: 4px;
  height: 12px;
  margin-left: 8px;
  font-size: 12px;
  text-align: right;
}

.fret {
  float: left;
  position: relative;
  border-top: 0px solid transparent;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  border-left: 0px solid transparent;
}

.chord-diagramsize-small .fret {
  width: 6px;
  height: 6px;
}

.chord-diagramsize-medium .fret {
  width: 9px;
  height: 9px;
}

.chord-diagramsize-large .fret {
  width: 12px;
  height: 12px;
}

.bar:first-child .fret:not(:first-of-type) {
  border-top: 1px solid #555;
}

.chord-diagramsize-small .bar:first-child .fret:not(:first-of-type) {
  height: 7px;
}

.chord-diagramsize-medium .bar:first-child .fret:not(:first-of-type) {
  height: 11px;
}

.chord-diagramsize-large .bar:first-child .fret:not(:first-of-type) {
  height: 14px;
}

.bar:first-child .fret {
  border-top: 1px solid transparent;
}

.chord-diagramsize-small .bar:first-child .fret {
  height: 7px;
}

.chord-diagramsize-medium .bar:first-child .fret {
  height: 11px;
}

.chord-diagramsize-large .bar:first-child .fret {
  height: 14px;
}

.fret:first-child {
  border-top: 0px solid transparent;
  border-right: 1px solid #555;
  border-bottom: 1px solid transparent;
  border-left: 0px solid transparent;
}

.fret .note {
  position: absolute;
  z-index: 2;
  color: #fff;
  background: #444;
  text-align: center;
  border-radius: 50%;
}

.chord-diagramsize-small .fret .note {
  width: 5px;
  height: 5px;
  margin-left: 3px;
  margin-top: 0px;
  padding-top: 2px;
}

.chord-diagramsize-medium .fret .note {
  width: 8px;
  height: 8px;
  margin-left: 5px;
  margin-top: 0px;
  padding-top: 3px;
}

.chord-diagramsize-large .fret .note {
  width: 10px;
  height: 10px;
  margin-left: 6px;
  margin-top: 0px;
  padding-top: 4px;
}

.chord-diagramsize-small .bar .basefret {
  font-size: 9px;
  float: left;
  line-height: 1;
}

.chord-diagramsize-medium .bar .basefret {
  font-size: 10px;
  float: left;
  line-height: 1;
}

.chord-diagramsize-large .bar .basefret {
  font-size: 12px;
  float: left;
  line-height: 1;
}
